.btn {
    border: none;
    text-decoration: none;
    background: #F77F00;
    outline: none;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 15px;
    font-family: 'Luckiest Guy', sans-serif;
}
