$dark_orange : #F77F00;
$white_orange : #FCBF49;
$dark_blue : #003049;
$orange : #F99418;
$white_red : #D62828;
$dark_red : #BE1414;
$dark_sand : #EAE2B7;
$sand : #F8F5E7;
$medium_gray : #242424;
$dark-gray : #1E1E20;
$black : #101012;
