.footer {
  // position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: $font-primary;
  margin-top: 40px;
}

.title-content {
  font-size: 24px;
  margin: 20px 30px;
}

.content p {
  font-size: 18px;
  padding: 10px;
  color: $dark_gray;
}


.content p:hover {
  color: $dark_orange;
  transition: all 0.2s ease-out;
}