.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    font-family: $font-primary;
}

.title-content {
    font-size: 28px;
}

.content p {
    font-size: 22px;
    padding: 10px;
}