body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  body {
    background-color: #F8F5E7;
    // max-width: 1500px;
    margin: 0 auto !important;
  }
  
  a {
    text-decoration: none;
  }
  
  p{
    font-size: 18px;
    font-family: 'Acme', sans-serif;
}

.App{
  margin-bottom: 40px !important;
}
  /* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  

  