.title-1 {
  font-family: "Acme";
  font-size: 20px;
  color: #242424;
}

.title-receita {
  font-family: "Acme";
  font-size: 16px;
  color: #242424;
}

.title-dificuldade {
  font-family: "Acme";
  font-size: 12px;
  color: #242424;
}
