.title-1 {
  font-family: "Acme";
  font-size: 36px;
  color: #242424;
  text-align: center;
  padding-top: 50px;
}

.title-2 {
  font-family: "Acme";
  font-size: 22px;
  color: #242424;
  text-align: center;
}

.title-receita {
  font-family: "Acme";
  font-size: 20px;
  color: #242424;
  cursor: pointer;
}

.title-dificuldade {
  font-family: "Acme";
  font-size: 14px;
  color: #474747;
  padding-bottom: 20px;
  cursor: pointer;
}

.image-box {
  border-radius: 10px;
  width: 200px;
  height: 140px;
  cursor: pointer;
}

.receitas-grid {
  padding-left: 10%;
  padding-right: 10%;
}

.receita-item {
  padding: 15px;
  display: inline-table;
  width: 200px;
}

.search {
  position: relative;
  width: 250px;
  height: 40px;
  left: 15%;
  border-style: solid;
  border-color: #f77f00;
  border-radius: 12px;
}

.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 5px 10px 10px 5px;
  background: #f77f00;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.search .icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #242424;
  border-radius: 50%;
  transform: translate(-4px, -4px);
}

.search .icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 13px;
  background: #242424;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
  position: relative;
  width: 82%;
  height: 100%;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-family: "Acme";
  background-color: #f8f5e7;
  background: #f8f5e7;
}

.search .input input {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f5e7;
  background: #f8f5e7;
  border: none;
  outline: none;
  font-size: 26px;
  border-radius: 12px;
  font-family: "Acme";
}
