.video{
    border-radius: 20px !important;
}

.topic{
    margin-bottom: 15px; 
    margin-bottom: 15px; 
}

.topic li{
    font-size: 18px;
    color: $dark-gray;
    font-family: 'Acme', sans-serif;
    margin-bottom: 10px;
}

.topic p{
    margin-top: 10px;
}