.btn-orange {
  border: none;
  text-decoration: none;
  background: $dark_orange;
  outline: none;
  font-size: 18px;
  border-radius: 12px;
  padding: 9px 15px;
  font-family: "Luckiest Guy", sans-serif;
}

.btn-orange:hover {
  padding: 12px 17px;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.btn-bk {
  border: none;
  text-decoration: none;
  color: #f8f5e7;
  background: #242424;
  outline: none;
  font-size: 18px;
  border-radius: 12px;
  padding: 14px 13px 10px 13px;
  font-family: "Luckiest Guy", sans-serif;
}

.btn-nav {
  border: none;
  margin: 5px;
  text-decoration: none;
  background: $dark_orange;
  color: $dark_gray;
  outline: none;
  font-size: 18px;
  border-radius: 12px;
  padding: 7px 10px;
  font-family: "Luckiest Guy", sans-serif;
}
.btn-nav:hover {
  color: white;
  background: $dark_gray;
  transition: all 0.3s ease-out;
}

.btn-black {
  border: none;
  text-decoration: none;
  background: $dark-gray;
  color: white;
  outline: none;
  font-size: 18px;
  border-radius: 12px;
  padding: 9px 12px;
  font-family: "Luckiest Guy", sans-serif;
}

.btn-black:disabled {
  border: none;
  text-decoration: none;
  background: $dark_red;
  cursor: not-allowed;
  color: white;
  outline: none;
  font-size: 18px;
  border-radius: 12px;
  padding: 9px 12px;
  font-family: "Luckiest Guy", sans-serif;
}

.btn-black:hover {
  background: $dark_orange;
  transition: all 0.3s ease-out;
}

.btn-black:hover:disabled {
  background: $dark-gray;
  transition: all 0.3s ease-out;
}

.close-btn {
  border: none;
  text-decoration: none;
  background: $white_red;
  color: white;
  outline: none;
  font-size: 18px;
  font-family: "Luckiest Guy", sans-serif;
  padding: 2px 10px;
  position: absolute;
  top: 16px;
  right: 16px;
}
