div {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.sign-up {
  font-family: "Acme", sans-serif;
}

.sign-up label {
  display: block !important;
}

.sign-up input {
  border: solid #f77f00;
  width: 357px;
  height: 38px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: #f8f5e7;
  width: 357px;
}

.sign-up input:focus {
  border: 2px #be1414 solid;
}

.sign-up input::placeholder {
  font-family: "Acme", sans-serif;
  color: #242424;
  font-size: 18px;
  padding: 8px;
}

.button {
  border: none;
  background: #f77f00;
  font-size: 18px;
  font-family: "Luckiest Guy", sans-serif;
  padding: 12px 15px;
  border-radius: 12px;
  width: 365px;
}

.button:hover {
  transition: 0.7s ease;
  cursor: pointer;
}

.button-primary {
  margin-top: 20px;
}

.or {
  padding: 20px;
  font-family: "Acme", sans-serif;
}

.or::after {
  content: "";
  display: block;
  width: 45px;
  height: 2px;
  background: #f77f00;
  margin: 0 auto;
}

.have-account {
  font-family: "Acme", sans-serif;
  margin-top: 10px;
  margin-left: 155px;
}

#link {
  color: #d62828;
}
