.title-1-dark {
    font-family: $font-primary;
    font-size: 36px;
    color: $dark-gray;
    text-align: center;
}

.title-1-red{
    font-family: $font-primary;
    color: $dark_red;
    font-size: 52px;
}

.title-2-dark{
    font-family: $font-primary;
    color: $dark-gray;
    font-size: 36px;
}

.title-2-red{
    font-family: $font-primary;
    color: $dark_red;
    font-size: 36px;
}
  
.title-4-dark {
    font-family: $font-primary;
    font-size: 22px;
    color: #242424;
    text-align: center;
}